certifi==2018.11.29
dj-static==0.0.6
Django==2.1.11
django-filter==2.0.0
git+https://github.com/MongoEngine/django-mongoengine.git
djangorestframework==3.9.0
gunicorn==19.9.0
Markdown==3.0.1
mongoengine==0.15.3
pymongo==3.7.1
pytz==2018.5
six==1.11.0
static3==0.7.0