{% extends "app/base_site.html" %}

{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>

<script>
  // Funçoes de Fornecedor
  function buscarFornecedor(){
    clearDataTable('datatable-fornecedores');
    $.ajax({
      data: {
        filtro : $('#id_get_entidade_fornecedor').val(),
      },
      type: 'GET',
      url:'/buscar/fornecedor/'
    }).done(function(data){
      var texto_html = '';
        for (i in data) {
          var n = parseInt(i) + 1;
          var parametro_edit = "'editarFornecedor("+ JSON.stringify(data[i])+")'";
          texto_html = texto_html + '<tr>';
            texto_html = texto_html + '<th scope="row">'+n+'</th>';
            if (data[i].ativo==true){
              texto_html = texto_html + '<td align="center"><input onclick="return false;" type="checkbox" checked/></td>';
            }
            else{
              texto_html = texto_html + '<td align="center"><input onclick="return false;" type="checkbox" /></td>';
            }
            texto_html = texto_html + '<td>'+data[i].tipo_pessoa+'</td>';
            texto_html = texto_html + '<td ondblclick='+ parametro_edit +'>'+ data[i].nome +'</td>';
            if (data[i].nome_fantasia){
              texto_html = texto_html + '<td>'+ data[i].nome_fantasia +'</td>';
            }
            else{
              texto_html = texto_html + '<td></td>'; 
            }           
            texto_html = texto_html + '<td>';
            texto_html = texto_html + '<i class="fa fa-pencil-square-o" aria-hidden="true" onclick='+ parametro_edit +'></i> ';
            texto_html = texto_html + '<i class="fa fa-trash" aria-hidden="true" onclick= excluirEntidade("'+ data[i]._id['$oid']+'","Fornecedor","fornecedor")></i>';
            texto_html = texto_html + '</td>';
          texto_html = texto_html + '</tr>';
        }
        $('#id_itens_fornecedores').html(texto_html);
        reloadDataTable('datatable-fornecedores');
      }).fail(function(data){
        alertar('Atenção','Não foi possível buscar a lista dos fornecedores </br> Tente novamente mais tarde','red','fa fa-warning');
    });
  }

  function adicionarFornecedor(flag=0){
    $('#spinner_modal').modal('show');
    if ($("#fornecedor_id_nome").val() == ''){
      $('#spinner_modal').modal('hide');
      if (flag == 0){
        $("#fornecedor_id_nome").parent().addClass("bad");
        alertar('ATENÇÂO','Preencha os campos corretamente','red', 'glyphicon glyphicon-alert');
      }else{
        $("#fornecedor_id_nome").parent().addClass("bad");
        alertar('ATENÇÂO','É preciso preencher o cadastro do fornecedor','red', 'glyphicon glyphicon-alert');
      }
    }else{
      i = 1;
      produto_array = '['
      produtos_selecionados = $('#fornecedor_grade_produto_body >tr>td>p');
      produtos_selecionados.each(function(){
        var $this = $(this);
        txt_produto_array = $this.text().split("-");
        var nome_produto = txt_produto_array[0];
        var marca_produto = txt_produto_array[1];
        produto_array = produto_array + '{';
        produto_array = produto_array + '"_id":"'+ $this.attr("id") + '",';
        produto_array = produto_array + '"produto_nome":"'+nome_produto +'",';
        txt = '#fornecedor_produto_id_preco_'+i;
        var preco_id = $(txt).val();
        produto_array = produto_array + '"preco":"'+preco_id+'",';
        produto_array = produto_array + '"marca":"'+marca_produto+'"';
        produto_array = produto_array + '}';
        if(i < $('#fornecedor_grade_produto_body >tr').length){
          produto_array = produto_array + ','
        }
        i++
      });
      produto_array = produto_array + ']';
      $.ajax({
        data: {
          fornecedor : {
            id_fornecedor :  $('#fornecedor_id').val(),
            ativo : $('#fornecedor_id_ativo').val(),
            tipo_pessoa : $("#fornecedor_id_tipo").val(),
            CNPJ : $("#fornecedor_id_CNPJ").val(),
            nome : $("#fornecedor_id_nome").val(),
            nome_fantasia : $("#fornecedor_id_nome_fantasia").val(),
            inscricao_estadual : $("#fornecedor_id_inscestadual").val(),
            inscricao_municipal : $("#fornecedor_id_inscmunicipal").val(),
            data_fundacao : $("#fornecedor_data_fundacao").val(),
            CRT : $("#fornecedor_id_crt").val(),
            CPF : $("#fornecedor_id_CPF").val(),
            RG : $("#fornecedor_id_rg").val(),
            data_nascimento :  moment($('#fornecedor_data_nascimento').data("DateTimePicker").date()).format('DD/MM/YYYY'),
            sexo : $("#fornecedor_id_sexo").val(),
            estado_civil : $("#fornecedor_id_estado_civil").val(),
            observacao : $("#fornecedor_obs").val(),
            produto : produto_array,
          },
        },
        type: 'POST',
        url:'/adicionar/fornecedor'
      }).success(function(data){
        $('#fornecedor_id').val(data.result);
        alertar('Sucesso','Fornecedor cadastrado com sucesso','green','fa fa-sucess');
        $('#spinner_modal').modal('hide');
        switch(flag) {
          case 0:
              mostraGradeFornecedor();
              buscarFornecedor();
            break;

          case 1:
              adicionarEndereco("Fornecedor", "fornecedor");
              buscarFornecedor();
            break;

          case 2:
              adicionarContato("Fornecedor","fornecedor");
              buscarFornecedor();
            break;
        }
        
      }).fail(function(data){
        $('#spinner_modal').modal('hide');
        alertar('Atenção','Não foi possível salvar o registro </br> Tente novamente mais tarde','red','fa fa-warning');
      });
    }
    return 1;
  }

function editarFornecedor(data){
  $('#fornecedor_id').val(data._id['$oid']);

  if (data.ativo==true){
    $('#fornecedor_id_ativo').prop("checked", true );
  }
  else{
    $('#fornecedor_id_ativo').prop("checked", false );
  }

  $('#fornecedor_id_tipo').val(data.tipo_pessoa).trigger('change');
  $('#fornecedor_id_nome').val(data.nome);
  $("#fornecedor_obs").val(data.observacao);
  $("#fornecedor_id_cadastro").val(moment(data.data_cadastro['$date']).format('DD/MM/YYYY'));
  if(data.tipo_pessoa == 'PJ'){
    $('#fornecedor_id_CNPJ').val(data.CNPJ);
    $('#fornecedor_id_nome_fantasia').val(data.nome_fantasia);
    $('#fornecedor_id_inscestadual').val(data.inscricao_estadual);
    $('#fornecedor_id_inscmunicipal').val(data.inscricao_municipal);
    $('#fornecedor_data_fundacao').val(data.data_fundacao);
    $('#fornecedor_id_crt').val(data.CRT);
  }else if(data.tipo_pessoa == 'PF'){
    $("#fornecedor_id_CPF").val(data.CPF);
    $("#fornecedor_id_rg").val(data.RG);
    $("#fornecedor_id_registro").val(data.registro);
    $("#fornecedor_data_nascimento_input").val(moment(data.data_nascimento['$date']).format('DD/MM/YYYY'));
    $("#fornecedor_id_sexo").val(data.sexo);
    $("#fornecedor_id_estado_civil").val(data.estado_civil);
    $("#fornecedor_id_nome_pai").val(data.nome_pai);
    $("#fornecedor_id_nome_mae").val(data.nome_mae);
    $("#fornecedor_id_grau_instrucao").val(data.grau_instrucao);
    $("#fornecedor_id_compl_instrucao").val(data.complemento_instrucao);
    $("#fornecedor_id_inst_ensino").val(data.instituicao_ensino);
    $("#fornecedor_id_ra").val(data.RA);
    $("#fornecedor_id_ano_letivo").val(data.ano_letivo);
    $("#fornecedor_id_periodo").val(data.periodo);
  }
  $("#fornecedor_id_conta_cr").val(data.tipo.conta_pagamento).change();
  clearDataTable('datatable-buttons');
  var contato_html = '';
  var endereco_html = '';
  var produto_html = '';
  var parametro_his = "";
  for (i in data.produtos){
    n =  parseInt(i)+parseInt(1);
    produto_html = produto_html + '<tr>';
    produto_html = produto_html + '<td scope="row">'+n+'</td>';
    produto_html = produto_html + '<td><p id="'+ data.produtos[i]._id +'">'+data.produtos[i].produto_nome+'-' +  data.produtos[i].marca+'</p></td>';
    produto_html = produto_html + '<td id= "preco_'+data.produtos[i]._id+'"> R$ '+formatarValor(parseFloat(data.produtos[i].preco))+'  <div class="input-group" style= "float: right;clear: both;"><span class="input-group-addon"><span class="fa fa-dollar"></span></span><input type="number" maxlength="18" title="" id="fornecedor_produto_id_preco_'+n+'" class="form-control" value="'+data.produtos[i].preco+'"/></div></td>';
    produto_html = produto_html + '<td><i class="fa fa-trash" aria-hidden="true" onclick= excluirProduto("'+n+'")></i>   '; 
    var parametro_hist = "'historicoProduto("+JSON.stringify(data.produtos[i].produto_nome)+","+JSON.stringify(data.produtos[i].marca)+","+JSON.stringify(data._id['$oid'])+")'";
    produto_html = produto_html + '<i class="fa fa-history" aria-hidden="true" onclick='+parametro_hist+')></i></td>';
    produto_html = produto_html + '</tr>';
  };
  for (i in data.contato){
    var n = parseInt(i) + 1;
    contato_html = contato_html + '<tr>';
    contato_html = contato_html + '<th scope="row">'+n+'</th>';
    contato_html = contato_html + '<td>'+ data.contato[i].nome +'</td>';
    contato_html = contato_html + '<td>'+ data.contato[i].email +'</td>';
    contato_html = contato_html + '<td>'+ data.contato[i].telefone +'</td>';
    var parametro_edit_cont = "'"+ n +"','"+ data.contato[i].nome +"','"+ data.contato[i].email +"','"+ data.contato[i].telefone +"'";
    contato_html = contato_html + '<td><i class="fa fa-pencil-square-o" aria-hidden="true" onclick="editarContato('+ parametro_edit_cont +')"></i>';
    var parametro_excluir_cont = "'"+ n +"','"+ data._id['$oid'] +"','fornecedor','Fornecedor'";
    contato_html = contato_html + '<i class="fa fa-trash" aria-hidden="true" onclick="excluirContato('+ parametro_excluir_cont +')"></i>';
    contato_html = contato_html + '</td>';
    contato_html = contato_html + '</tr>';
  }
  for (j in data.endereco){
    var n = parseInt(j) + 1;
    endereco_html = endereco_html + '<tr>';
    endereco_html = endereco_html + '<th scope="row">'+n+'</th>';
    endereco_html = endereco_html + '<td>'+ data.endereco[j].tipo +'</td>';
    endereco_html = endereco_html + '<td>'+ data.endereco[j].tipo_logradouro+' '+data.endereco[j].logradouro+'</td>';
    endereco_html = endereco_html + '<td>'+ data.endereco[j].numero +'</td>';
    endereco_html = endereco_html + '<td>'+ data.endereco[j].bairro +'</td>';
    endereco_html = endereco_html + '<td>'+ data.endereco[j].cidade +'</td>';
    var parametro_edit_end =  "'editarEnderecoFornecedor("+ n +"," + JSON.stringify(data.endereco[j])+")'";
    endereco_html = endereco_html + '<td><i class="fa fa-pencil-square-o" aria-hidden="true" onclick= '+ parametro_edit_end +'>  </i>';
    var parametro_excluir_end = '"'+ n +'","'+ data._id['$oid'] +'","fornecedor","Fornecedor"';
    endereco_html = endereco_html + '<i class="fa fa-trash" aria-hidden="true" onclick=excluirEndereco('+ parametro_excluir_end +')></i>';
    endereco_html = endereco_html + '</td>';
    endereco_html = endereco_html + '</tr>';
  }
  $('#fornecedor_contatos').html(contato_html);
  $('#fornecedor_enderecos').html(endereco_html);
  $('#fornecedor_grade_produto_body').html(produto_html );
  $('#fornecedor_contatos').show();
  $('#fornecedor_enderecos').show();
  reloadDataTable('datatable-buttons');
  mostraTipoFornecedor(data.tipo_pessoa);
  mostraFormularioFornecedor(0);
}

function clearFormFornecedor(){
  $('#fornecedor_id').val('0');
  $('#fornecedor_id_CNPJ').val('');
  $('#fornecedor_id_nome').val('');
  $('#fornecedor_id_nome_fantasia').val('');
  $('#fornecedor_id_inscestadual').val('');
  $('#fornecedor_id_inscmunicipal').val('');
  $('#fornecedor_data_fundacao').val('');
  $('#fornecedor_id_crt').val('');
  $("#fornecedor_id_CPF").val('');
  $("#fornecedor_id_rg").val('');
  $("#fornecedor_id_registro").val('');
  $("#fornecedor_data_nascimento").val('');
  $("#fornecedor_id_sexo").val('');
  $("#fornecedor_id_estado_civil").val('');
  $("#fornecedor_id_nome_pai").val('');
  $("#fornecedor_id_nome_mae").val('');
  $("#fornecedor_id_grau_instrucao").val('');
  $("#fornecedor_id_compl_instrucao").val('');
  $("#fornecedor_id_inst_ensino").val('');
  $("#fornecedor_id_ra").val('');
  $("#fornecedor_id_ano_letivo").val('');
  $("#fornecedor_id_periodo").val('');
  $("#fornecedor_id_cadastro").val('');
  $("#fornecedor_id_limite_credito").val('');
  $("#fornecedor_obs").val('');
  $("#fornecedor_id_logradouro").val('');
  $("#fornecedor_id_cidade").val('');
  $("#fornecedor_id_numero").val('');
  $("#fornecedor_id_estado").val('');
  $("#fornecedor_id_CEP").val('');
  $("#fornecedor_id_tipo_logradouro").val('');
  $("#fornecedor_id_tipo_endereco").val('');
  $("#fornecedor_id_bairro").val('');
  $("#fornecedor_id_complemento").val('');
  $("#fornecedor_id_referencia").val('');
  $("#fornecedor_id_nome_contato").val('');
  $("#fornecedor_id_email_contato").val('');
  $("#fornecedor_id_telefone_contato").val('');
  clearDataTable('datatable-buttons');
}

function mostraGradeFornecedor(){
  clearFormFornecedor();
  mostrarGradeEndereco('fornecedor');
  mostrarGradeContato('fornecedor');

  $('#gradeFornecedor').show();
  $('#btnFormularioFornecedor').show();

  $('#btnGradeFornecedor').hide();
  $('#formularioFornecedor').hide();
  $('#fornecedor_contatos_enderecos').hide();
  $('#fornecedor_contatos').hide();
  $('#fornecedor_enderecos').hide();
  $('#fornecedor_contatos').html('');
  $('#fornecedor_enderecos').html('');
  $('#fornecedor_grade_produto_body').html('');
}

function mostraTipoFornecedor(tipo){
  if(tipo == "PJ"){
    $('#fornecedor_juridica').show();
    $('#fornecedor_fisica').hide();
  }else if(tipo == "PF"){
    $('#fornecedor_fisica').show();
    $('#fornecedor_juridica').hide();
  }
}


function mostraFormularioFornecedor(editar){
  if (editar==1){
    clearFormFornecedor();
    $('#fornecedor_id').val('0');
  }
  $('#gradeFornecedor').hide();
  $('#btnFormularioFornecedor').hide();

  $('#btnGradeFornecedor').show();
  $('#formularioFornecedor').show();
  $('#fornecedor_contatos_enderecos').show();
  $('#fornecedor_contatos').show();
  $('#fornecedor_enderecos').show();
}

function gravarFornecedor(){
  if ( $("#fornecedor_id_nome_contato").val() != '' || $("#fornecedor_id_email_contato").val() != '' || $("#fornecedor_id_telefone_contato").val() != '' ){
    edit = 0;
    adicionarContato('Fornecedor','fornecedor');
  }else if( $("#fornecedor_id_logradouro").val() != '' || $("#fornecedor_id_cidade").val() != '' || $("#fornecedor_id_CEP").val() != '' || $("#fornecedor_id_bairro").val() != ''){
    edit = 0;
    adicionarEndereco('Fornecedor','fornecedor');
  }else{
    edit = 0;
    adicionarFornecedor(0);
  }
}

function inserirProduto(){
   produto_html = ''
  i = $('#fornecedor_grade_produto_body >tr').length ;
  n = i + 1;
  id = $('#fornecedor_produto option:selected').val();
  nome = $('#fornecedor_produto option:selected').text();
  produto_html = $('#fornecedor_grade_produto_body').html();
  produto_html = produto_html + '<tr>';
  produto_html = produto_html + '<td scope="row">'+n+'</td>';
  produto_html = produto_html + '<td><p id="'+ id +'">'+ nome +'</p></td>';
  produto_html = produto_html + '<td><div class="input-group"><span class="input-group-addon"><span class="fa fa-dollar"></span></span><input type="number" maxlength="18" title="" id="fornecedor_produto_id_preco_'+n+'" class="form-control"/></div></td>';
  produto_html = produto_html + '<td><i class="fa fa-trash" aria-hidden="true" onclick= excluirProduto("'+n+'")></i> </td>';
  produto_html = produto_html + '</tr>';
  clearDataTable('datatable-buttons'); 
  $('#fornecedor_grade_produto_body').html(produto_html);
  reloadDataTable('datatable-buttons');
  $('#fornecedor_produto option:selected').attr("disabled", "disabled");
  $('#fornecedor_produto').val('');
}
function excluirProduto(id){
  confirmar('Atenção',
            'Deseja excluir este produto?',
            'red',
            'fa fa-warning',
            function(){
              produto_html = '';
              i = 1;
              n = 1;
              produtos_selecionados = $('#fornecedor_grade_produto_body >tr>td>p');
              produtos_selecionados.each(function(){
                var $this = $(this);
                if(id != i){
                  produto_html = produto_html + '<tr>';
                  produto_html = produto_html + '<th scope="row">'+n+'</th>';
                  produto_html = produto_html + '<td><p id="'+ $this[0].id +'">'+ $this.text() +'</p></td>';
                  produto_html = produto_html + '<td id= "preco_'+$this[0].id+'"> '+'<div class="input-group"><span class="input-group-addon"><span class="fa fa-dollar"></span></span><input type="number" maxlength="18" title="" id="fornecedor_produto_id_preco_'+n+'" class="form-control" value="'+$('#fornecedor_produto_id_preco_'+i).val()+'"/></div></td>';
                  produto_html = produto_html + '<td>';
                    produto_html = produto_html + '<i class="fa fa-trash" aria-hidden="true" onclick= excluirProduto("'+i+'")></i>';
                  produto_html = produto_html + '</td>';
                  produto_html = produto_html + '</tr>';
                  i++;
                  n++;
                }else{
                  i++
                }
              });
              $('#fornecedor_grade_produto_body').html('');
              clearDataTable('datatable-buttons');
              $('#fornecedor_grade_produto_body').html(produto_html);
              reloadDataTable('datatable-buttons');                    
            }
  )
}
//Data
$(function () {
    buscarFornecedor();
  
    $('#fornecedor_data_nascimento').datetimepicker({
        format: 'DD/MM/YYYY',
        daysOfWeekDisabled: [0, 6],
        locale: 'pt-br'
    });
    $('#fornecedor_data_fundacao').datetimepicker({
        format: 'DD/MM/YYYY',
        daysOfWeekDisabled: [0, 6],
        locale: 'pt-br'
    });

});
$('#id_get_entidade_fornecedor').on('keypress', function (e) {
         if(e.which === 13){
          buscarFornecedor()
         }
   });
</script>
<div class="right_col" role="main">
  <div class="container body">
    <div class="page-title">
      <div class="title_left">
        <h1>Fornecedores</h1>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Formulário de cadastro de fornecedores</h2>
            <ul class="nav navbar-right panel_toolbox">

              <li id ="btnGradeFornecedor" style="display:none">
                <a onclick="mostraGradeFornecedor()"><i class="fa fa-list"></i> Grade</a>
              </li>
              <li id ="btnFormularioFornecedor">
                <a onclick="mostraFormularioFornecedor(1)"><i class="fa fa-list"></i> Novo</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" id="formularioFornecedor" style="display:none">
            <input type="hidden" id="fornecedor_id" name="id" value="0">
            <form id="demo-form" data-parsley-validate>
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Dados</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Produtos</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Contatos e Endereços</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="row">
                      <div class="col-md-1 col-sm-1 col-xs-12">
                          <br/>
                          <label for="fornecedor_id_ativo">
                            <input type="checkbox" name="ativo" class="checkbox_true_false" id="fornecedor_id_ativo" value=true onchange="checkboxTrueFalse()" checked/> Ativo
                          </label>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <label class="control-label">Tipo</label>
                        <select class="selectpicker form-control" data-live-search="true" name="tipo" id ="fornecedor_id_tipo" onchange="mostraTipoFornecedor(this.value)">
                          <option value= "PF">FÍSICA</option>
                          <option value= "PJ">JURÍDICA</option>
                        </select>
                      </div>
                      <div class="col-md-7 col-sm-7 col-xs-12">
                        <label for="razaoSocial">Nome</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                          <input type="text" name="razaoSocial" maxlength="200" onkeypress="clearClassBad('fornecedor_id_nome')"  id="fornecedor_id_nome" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-cx-4">
                        <label class="control-label">Data de cadastro</label></br>
                        <div class='input-group date' id='cadastro'>
                          <input type='text' class="form-control" name="cadastro" id="fornecedor_id_cadastro" readonly/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label for="">Observações</label>
                        <div class="form-group">
                          <label class="sr-only control-label" for="">Observações</label>
                          <textarea id="fornecedor_obs" class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="0" data-parsley-maxlength="500" data-parsley-validation-threshold="10"></textarea>
                        </div>
                      </div>
                    </div>
                    <div id="fornecedor_juridica" style="display:none">
                      <fieldset class="col-md-12 col-sm-12 col-xs-12">
                        <legend>Pessoa Jurídica</legend>
                        <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <label for="cnpj">CNPJ</label>
                            <div class="form-group">
                              <label class="sr-only control-label" for="fornecedor_id_CNPJ">CNPJ</label>
                              <input type="text" name="CNPJ"  maxlength="18" title="" id="fornecedor_id_CNPJ" class="form-control cnpj" />
                            </div>
                          </div>

                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="form-group">
                              <label class="control-label" for="fornecedor_id_nome_fantasia">Nome fantasia</label>
                              <input type="text" name="nomeFantasia" maxlength="100" title="" id="fornecedor_id_nome_fantasia" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                              <label class="control-label">CRT</label>
                              <select class="selectpicker form-control" data-live-search="true"  name="CRT" id ="fornecedor_id_crt" >
                                <option value="">...</option>
                                <option value= "1">1 - SIMPLES NACIONAL</option>
                                <option value= "2">2 - LUCRO PRESUMIDO</option>
                                <option value= "3">3 - LUCRO REAL</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <label for="inscestadual">Inscrição estadual</label>
                            <div class="form-group">
                              <label class="sr-only control-label" for="fornecedor_id_inscestadual">Inscrição estadual</label>
                              <input type="text" name="inscestadual" maxlength="200" title="" id="fornecedor_id_inscestadual" class="form-control" />
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <label for="inscmunicipal">Inscrição municipal</label>
                            <div class="form-group">
                              <label class="sr-only control-label" for="fornecedor_id_inscmunicipal">Inscrição estadual</label>
                              <input type="text" name="inscmunicipal" maxlength="200" title="" id="fornecedor_id_inscmunicipal" class="form-control" />
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <label class="control-label">Data de fundação</label></br>
                            <div class='input-group date form-group' id='fornecedor_data_fundacao'>
                              <input type='text' class="form-control" />
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div  id="fornecedor_fisica">
                      <fieldset class="col-md-12 col-sm-12 col-xs-12">
                        <legend>Pessoa Física</legend>
                        <div class="row">
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                              <label class="control-label" for="fornecedor_id_CPF">CPF</label>
                              <input type="text" name="cpf" class="form-control form-control cpf" id="fornecedor_id_CPF" title="" />
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                              <label class="control-label" for="fornecedor_id_rg">RG</label>
                              <input type="text" name="RG" value="" class="form-control form-control" id="fornecedor_id_rg" title="" />
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-cx-4">
                            <label class="control-label">Data de nascimento</label></br>
                            <div class='input-group date form-group' id='fornecedor_data_nascimento'>
                              <input type='text' class="form-control" id='fornecedor_data_nascimento_input' val=''/>
                              <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <label class="control-label">Sexo</label>
                            <div class="form-group">
                              <select class="selectpicker form-control" data-live-search="true"  name="" id ="fornecedor_id_sexo" >
                                <option value="">...</option>
                                <option >MASCULINO</option>
                                <option>FEMININO</option>
                             </select>
                           </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-12">
                            <label class="control-label">Estado civil</label>
                            <div class="form-group">
                              <select class="selectpicker form-control" data-live-search="true"  name="" id ="fornecedor_id_estado_civil" >
                                <option value="">...</option>
                                <option>SOLTEIRO</option>
                                <option>CASADO</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">                
                    <div class="col-md-12 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-12">
                              <label for="fornecedorProduto"></span><h2>Produtos</h2></label>
                              <div class="input-group row-fluid">              
                                <span class="input-group-addon">
                                    <i class="fa fa-cube"></i>
                                </span>
                                <select class="selectpicker form-control" data-live-search="true" id="fornecedor_produto" style="width: 100%;">
                                  </select>  
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                              <button type="button" style="margin-top: 40px" class="btn btn-round btn-default" onclick="inserirProduto()">Inserir</button>
                            </div>
                          </div> 
                          <div class="clearfix"></div>
                        </div>
                        <div   id="fornecedor_grade_produto">
                            <table id="datatable-buttons" class="table table-striped table-bordered" >
                              <thead>
                                <tr>
                                  <th style="width: 2%">#</th>
                                  <th style="width: 63%;">Produto</th>
                                  <th style="width: 30%;">Preço</th>
                                  <th style="width: 5%;">Ações</th>
                                </tr>
                              </thead>
                              <tbody id="fornecedor_grade_produto_body">
                              </tbody>
                            </table>
                        </div>
                      </div>
                    </div>          
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                    <div class="row" id="fornecedor_contatos_enderecos" style="display:none">
                        <div class="col-md-6 col-xs-12">
                          <div class="x_panel">
                            <div class="x_title">
                              <h2>Contatos</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li id ="fornecedor_btn_grade_contato" style="display:none">
                                  <a onclick="mostrarGradeContato('fornecedor')"><i class="fa fa-list"></i> Grade</a>
                                </li>
                                <li id ="fornecedor_btn_formulario_contato">
                                  <a onclick="mostrarFormularioContato(true,'fornecedor')"><i class="fa fa-list"></i> Formulário</a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content"  id="fornecedor_formulario_contato" style="display:none"><br/>
                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                  <input type="hidden" id="fornecedor_id_contato" name="id" value="0">
                                  <input type="text" class="form-control has-feedback-left" id="fornecedor_id_nome_contato" placeholder="Nome">
                                  <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control has-feedback-left" id="fornecedor_id_email_contato" placeholder="E-mail">
                                  <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  <input type="text" class="form-control tel" id="fornecedor_id_telefone_contato" placeholder="Telefone">
                                  <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                </div>
                              </div>
                              <div class="x-content pull-right">
                                <button type="button" class="btn btn-round btn-default" onclick="gravarFornecedor()">Salvar</button>
                              </div>
                            </div>
                            <div class="table-responsive"  id="fornecedor_grade_contato">
                              <table class="table table-hover" >
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>Telefone</th>
                                    <th>Ações</th>
                                  </tr>
                                </thead>
                                <tbody id="fornecedor_contatos">

                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="x_panel">
                            <div class="x_title">
                              <h2>Endereços</h2>
                              <ul class="nav navbar-right panel_toolbox">
                                <li id ="fornecedor_btn_grade_endereco" style="display:none">
                                  <a onclick="mostrarGradeEndereco('fornecedor')"><i class="fa fa-list"></i> Grade</a>
                                </li>
                                <li id ="fornecedor_btn_formulario_endereco">
                                  <a onclick="mostrarFormularioEndereco(true,'fornecedor')"><i class="fa fa-list"></i> Formulário</a>
                                </li>
                              </ul>
                              <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="fornecedor_formulario_endereco" style="display:none"><br/>
                              <form class="form-horizontal form-label-left  input_mask">
                                <input type="hidden"  class="form-control" id="fornecedor_id_edit_endereco" value="0" required>
                                <div class="row">
                                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select id="fornecedor_id_tipo_endereco" class="selectpicker form-control" data-live-search="true" title="Tipo">
                                      <option>SEDE</option>
                                      <option>ENTTREGA</option>
                                      <option>COBRANÇA</option>
                                    </select>
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <input type="text" name="CEP" class="form-control cep" title="" placeholder="CEP" id="fornecedor_id_CEP" maxlength="20">
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <select id="fornecedor_id_tipo_logradouro" title="tipo logradouro" class="selectpicker form-control" data-live-search="true" style="width: 100%">
                                      <option>RUA</option>
                                      <option>AVENIDA</option>
                                      <option>PRAÇA</option>
                                      <option>LARGO</option>
                                      <option>TRAVESSA</option>
                                      <option>RODOVIA</option>
                                      <option>ESTRADA</option>
                                      <option>VIA</option>
                                      <option>ALAMEDA</option>
                                      <option>QUADRA</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-8 col-sm-8 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="Logradouro" name="logradouro" class="form-control" title="" id="fornecedor_id_logradouro" maxlength="100">
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="N°" name="numero" class="form-control" title="" id="fornecedor_id_numero" maxlength="10">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="Complemento" name="complemento" class="form-control" title="" id="fornecedor_id_complemento">
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="Bairro" name="bairro" class="form-control" title="" id="fornecedor_id_bairro" maxlength="100">
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5 col-sm-5 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="Referência" name="Referencia" class="form-control" title="" id="fornecedor_id_referencia">
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <input type="text" placeholder="Cidade" name="cidade" class="form-control" title="" id="fornecedor_id_cidade" maxlength="100">
                                  </div>
                                  <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <select id="fornecedor_id_estado" title="Estado" class="selectpicker form-control" data-live-search="true" style="width: 100%">
                                      <option>AC</option>
                                      <option>AL</option>
                                      <option>AP</option>
                                      <option>AM</option>
                                      <option>BA</option>
                                      <option>CE</option>
                                      <option>DF</option>
                                      <option>ES</option>
                                      <option>GO</option>
                                      <option>MA</option>
                                      <option>MT</option>
                                      <option>MS</option>
                                      <option>MG</option>
                                      <option>PA</option>
                                      <option>PB</option>
                                      <option>PR</option>
                                      <option>PE</option>
                                      <option>PI</option>
                                      <option>RJ</option>
                                      <option>RN</option>
                                      <option>RS</option>
                                      <option>RO</option>
                                      <option>RR</option>
                                      <option>SC</option>
                                      <option value="SP" selected>SP</option>
                                      <option>SE</option>
                                      <option>TO</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="x-content pull-right">
                                  <button type="button" class="btn btn-round btn-default" onclick="gravarFornecedor()">Salvar</button>
                                </div>
                              </form>
                            </div>
                            <div class="table-responsive" id="fornecedor_grade_endereco">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Tipo</th>
                                    <th>Logradouro</th>
                                    <th>Número</th>
                                    <th>Bairro</th>
                                    <th>Cidade</th>
                                    <th>Ações</th>
                                  </tr>
                                </thead>

                                <tbody id="fornecedor_enderecos">
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              
              <div class="x-content pull-right">
                <button type="button" class="btn btn-round btn-danger" onclick="mostraGradeFornecedor()">Cancelar</button>
                <button type="button" class="btn btn-round btn-success" onclick="gravarFornecedor()">Salvar</button>
              </div>
            </form>
          </div>
          <div class="table-responsive"  id="gradeFornecedor">
            <table class="table table-hover" id="datatable-fornecedores">
              <thead>
                <tr name="parse_table">
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 2%;" aria-sort="ascending">#</th>
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 5%;" aria-sort="ascending">Ativo</th>
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 5%;" aria-sort="ascending">Tipo</th>
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 50%;" aria-sort="ascending">Nome</th>
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 33%;" aria-sort="ascending"></th>             
                  <th class="sorting" tabindex="0" aria-controls="datatable-buttons" style="width: 5%;">Ações</th>
                </tr>
              </thead>      
              <tbody id="id_itens_fornecedores">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  
</script>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  
<script type="text/javascript">
$(document).ready(function() {
    checkboxTrueFalse();
    carregarEntidade(['fornecedor_produto'],'produto','Produto',true);
  });
</script>
{% endblock javascripts %}